@{
    ViewData["Title"] = "Интернет-магазин на C#";
}

<h3>Темы</h3>
<p>
    <ul>
        <li>C#</li>
        <li>SQL</li>
        <li>git и GitHub</li>
        <li>Agile: бэклог, пользовательские истории, итерации</li>
        <li>Модульное тестирование</li>
        <li>Паттерны проектирования</li>
        <li>Принципы SOLID</li>
        <li>DDD (Domain Driven Design)</li>
        <li>ASP.NET MVC</li>
        <li>Entity Framework</li>
    </ul>
</p>
<p>
    У нас интернет-магазин, поэтому, конечно, нам придётся использовать HTML, CSS и JavaScript. Я не планирую глубоко погружаться в эти темы, в том числе потому, что не специализируюсь на них и глубоко не разбираюсь.
</p>

<p>
    <a href="https://www.youtube.com/watch?v=L2OC525fkGk&list=PLfkikHwnACaXxUu9YGnQQp7VEYcMmuBuq">Видео-записи занятий</a>.
</p>